.projects {
  text-align: center;
  padding: 10rem 2rem;
  background: $blue;
  &-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid $white;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  &-item {
    background: $dark;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    transition: all 0.2s linear;
  }
  &-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px 20px $red;
  }
  &-item:hover .code {
    color: #ff7f50;
  }
  &-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  &-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
}
.code {
  color: $dark;
  transition: color 0.3s ease-out;
}

@media (max-width: 30.625em) {
  .projects {
    padding: 6rem 1rem;
    &-grid {
      grid-template-columns: 1fr;
    }
  }
}
